@font-face {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/advent-pro-v18-latin-700.woff2") format("woff2")
      url("../fonts/advent-pro-v18-latin-700.woff") format("woff");
}
